:root {
  --bg: #141021;
  --fg: #ffeefc;
  --blk: #4f4858;
  --red: #c05c47;
  --grn: #428e8e;
  --ylw: #e4b226;
  --blu: #4457a3;
  --mag: #903a62;
  --cyn: #7aa1dc;
  --wht: #c4b7c5;
  --bblk: #545d67;
  --bred: #c16772;
  --bgrn: #afda6e;
  --bylw: #ebcf1a;
  --bblu: #4880a5;
  --bmag: #9568a1;
  --bcyn: #abbcda;
  --bwht: #ffeefc;
} 
